<div class="container text-center" data-controller="animals">
  <h1><span class="fa-stack fa-2x">
    <i class="fa-solid fa-circle fa-stack-2x icon-resize"></i>
    <i class="fa-solid fa-otter fa-stack-1x fa-inverse icon-resize"></i>
  </span>My Animal List</h1>
  <ul data-animals-target="listAnimal"></ul>
</div>
