h1 {
  margin-bottom: 24px;
  margin-top: 12px;
  background-color: #E5E059;
  padding: 24px;
  border-radius: 8px;
  font-size: 28px;
  font-family: 'Merienda', cursive;
}

body {
  background-color: #1D263B;
}

ul {
  background-color: #69EBD0;
  padding-top: 20px;
  border-radius: 8px;
}

ul li {
  border-radius: 14px;
}

p {
  margin-bottom: 1rem;
  background-color: #1D263B;
  margin-top: 8px;
  padding: 8px;
  border-radius: 8px;
  color: #e5e059;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  font-size: 16px;
}

.icon-resize{
  font-size: 28px
}

.refresh-button{
  width: 50%;
  color: #e5e059;
  background-color: #cb3f77;
  font-weight: 900;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}

.refresh-button:hover{
  background-color:#be0e55;
  color: #e5e059;
}
