h1 {
  margin-bottom: 24px;
  margin-top: 73px;
  background-color: #E5E059;
  padding: 5px;
  border-radius: 8px;
  font-size: 20px;
  font-family: 'Merienda', cursive;
}

body {
  background-color: #1D263B;
}

ul {
  background-color: #69EBD0;
  padding-top: 20px;
  border-radius: 8px;
  padding-bottom: 20px;
}

ul li {
  border-radius: 14px;
}

p {
  margin-top: 8px;
  padding: 4px;
  color: #e5e059;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 18px;
}

.icon-resize{
  font-size: 28px
}


.refresh-button{
  color: #e5e059;
  background-color: #1D263B;
  font-weight: 900;
      font-family: 'Epilogue', sans-serif;
  padding-left: 16px;
  padding-right: 16px;
}

.refresh-button:hover{
  background-color:#e5e059;
  color: #1D263B;
      font-family: 'Epilogue', sans-serif;
}


.card-category{
  width: 600px;
  height: 400px;
  background-size: cover;
  background-position: center;
  text-align: end;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  object-fit: cover;
}

.img-icon{
  cursor: pointer;
}

.img-favorites{
  color: red;
}

.text-bg {
  background-color: #1D263B;
  border-radius: 8px;
  width: 37rem;
  display: flex;
  justify-content: space-around;
  margin: 12px 0px;

}

.fa-heart:hover{
  color: #bfbebe;
}
